<!DOCTYPE html>
<html>
<head>
	<title> This is how to Change the content</title>
</head>
<body>
	<h2>here it is</h2>
	<form action="/ubah/{{model.kode}}" method="post">
		Kode :<br/>
		<input type="text" name="kode" size="15" value="{{model.kode}}" readonly><br/>
		Nama Produk : <br/>
		<input type="text" name="nama" size="20" value="{{model.nama}}"><br/>
		Harga : <br/>
		<input type="text" name="harga" size="15" value="{{model.harga}}">
		<p><input type="submit" value="Simpan a Changes" ></p>
		
	</form>




</body>
</html>